<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SmartHome</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <link rel="stylesheet" href="style.css">
    </head>
    <body background="images/bg-image.jpg">
        <nav class="clearfix">
				<img id="logo" class="logo pull-left" src="images/logo.png" alt="logo" width="100px" height="auto">
        </nav>

        <main>
            <article class="clearfix">
                <section class="pull-left">
					<figure  id="loungeroom">
						<img src="images/loungeroom.png" alt="loungeroom icon" width="150px" height="auto">
						<figcaption>Lounge room</figcaption>
					</figure>
				</section>
				<section class="pull-left">
					<figure id="diningroom">
						<img src="images/diningroom.png" alt="dining room icon" width="150px" height="auto">
						<figcaption>Dining room</figcaption>
					</figure>
				</section>
				<section class="pull-left">
					<figure id="officeroom">
						<img src="images/officeroom.png" alt="office room icon" width="150px" height="auto">
						<figcaption>Office room</figcaption>
					</figure>
				</section>
				<section class="pull-left">
					<figure id="bedroom">
						<img src="images/bedroom.png" alt="bedroom icon" width="150px" height="auto">
						<figcaption>Bedroom</figcaption>
					</figure>
				</section>
				<section class="pull-left">
					<figure id="bathroom">
						<img src="images/bathroom.png" alt="bathroom icon" width="150px" height="auto">
						<figcaption>Bathroom</figcaption>
					</figure>
				</section>
				<section class="pull-left">
					<figure  id="weather">
						<img src="images/weather.png" alt="weather icon" width="150px" height="auto">
						<figcaption>Weather</figcaption>
					</figure>
				</section>
            </article>
		</main>
		<script src="javascript.js"></script>
    </body>
</html>