<article class="clearfix">
    <section class="pull-left">
        <figure id="back">
            <img src="images/back-icon.png" alt="back icon" width="50px" height="auto">
            <figcaption>Back</figcaption>
        </figure>
    </section>
    <section class="pull-right">
        <figure>
            <img src="images/weather.png" alt="weather icon" width="150px" height="auto">
            <figcaption>Weather</figcaption>
        </figure>
    </section>
    <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/cluj-napoca-18521"><img src="https://w.bookcdn.com/weather/picture/3_18521_1_1_37ff00_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=57704"  alt="booked.net"/></a><!-- weather widget end -->
    </section>
</article>


