<article class="clearfix">
    <section class="pull-left">
        <figure id="back">
            <img src="images/back-icon.png" alt="back icon" width="50px" height="auto">
            <figcaption>Back</figcaption>
        </figure>
    </section>
    <section class="pull-right">
        <figure>
            <img src="images/weather.png" alt="weather icon" width="150px" height="auto">
            <figcaption>Weather</figcaption>
        </figure>
    </section>
    <section>
        <h1>
            Weather page
        </h1>
    </section>
</article>


